.vertical-align {
    display: flex;
    align-items: center;
}

.vim {
    display: block
}

.body-text{
  font-size: large;
}

.body-text{
  font-size: large;
}

.media-body-custom {
  padding-top: 10px;
}

.img-maxwidth{
  max-width: 170px;
}

.body {
  background-color: transparent;
  padding-top: 60px;
}

a, a:hover, a:active, a:visited {
    color: #800000 !important;
}

